*, *::before, *::after{
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url('../assets/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  margin: 0;
  font: normal 14px/1.618em -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body:before {
  box-sizing: content-box;
  content: '';
  height: 0;
  border: 130em solid #313440;
  position: absolute;
  left: 50%;
  top: 100%;
  z-index: 2;
  display: block;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
}

h1,
h2 {
  font-weight: 500;
  margin: 0 0 5px 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 16px;
}

p {
  margin: 0;
}

main {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  background: #cd2a3e;
  width: 56px;
  height: 56px;
  padding: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  margin-top: 70px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
    moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards,
    moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards,
    materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

main header {
  flex: 1;
  border-right: 2px dashed #eeeeee;
  background: #ffffff;
  color: #000000;
  text-align: center;
  padding-right: 15px;
  opacity: 0;
  animation: moveIn 1s 3.1s ease forwards;
}

main header h1 {
  color: #cd2a3e;
}

main header a {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 25px 30px;
}

main header a:after {
  position: absolute;
  content: '';
  width: 28px;
  height: 28px;
  right: 3px;
  bottom: 3px;
  border: 4px solid #ffffff;
  background: linear-gradient(to bottom, #cd2a3e 0%, #cd2a3e 33%, #ffffff 33%, #ffffff 66%, #436f4d 66%, #436f4d 100%);
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  transform: scale(0);
  animation: scaleIn 0.3s 3.5s ease forwards;
}

main header a > img {
  width: 100%;
  max-width: 120px;
  border-radius: 50%;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
}

main header a:hover > img {
  box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
}

main section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
  opacity: 0;
  animation: moveIn 1s 3.1s ease forwards;
}

main article {
  background: #ffffff;
  color: #333333;
  text-align: center;
  opacity: 0;
  animation: moveIn 1s 3.1s ease forwards;
}

main footer {
  opacity: 0;
  animation: moveIn 1s 3.5s ease forwards;
}

main footer ul {
  flex: 0;
  display: flex;
  justify-content: space-around;
}

.profile-social-links {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.profile-social-links li {
  display: block;
  list-style: none;
  padding: 0px;
}

.profile-social-links li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #436f4d;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden !important;
  border-radius: 50%;
  border: 2px solid #436f4d;
}

.profile-social-links li a img,
.profile-social-links li a svg {
  width: 24px;
}

.profile-social-links li a:hover,
.profile-social-links li a:active {
  color: #cd2a3e;
  border-color: #cd2a3e;
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes borderRadius {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveUp {
  0% {
    background: #436f4d;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #e0e0e0;
  }
}

@keyframes materia {
  0% {
    background: #e0e0e0;
  }
  50% {
    border-radius: 4px;
  }
  100% {
    width: 440px;
    height: 280px;
    background: #ffffff;
    border-radius: 4px;
  }
}

@keyframes moveIn {
  0% {
    transform: translateY(50px);
    /* margin-top: 50px; */
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    /* margin-top: 0; */
    opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-aspect-ratio: 4/3) {
  body {
    background-size: cover;
  }
  body:before {
    width: 0;
  }
  @keyframes puff {
    0% {
      top: 100%;
      width: 0;
      padding-bottom: 0;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
}

@media screen and (min-height: 480px) {
  main {
    flex-direction: column;
  }

  main header {
    flex: 0;
    border-right: none;
    padding: 0;
  }

  main section {
    padding: 10px 0;
  }

  footer {
    padding: 0 10px;
  }

  @keyframes materia {
    0% {
      background: #e0e0e0;
    }
    50% {
      border-radius: 4px;
    }
    100% {
      width: 280px;
      height: 440px;
      background: #ffffff;
      border-radius: 4px;
    }
  }
}
